@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
}
html {
    height: 100%;
}

body {
    position: relative;
    background-image: url('images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 30%;
}

#card-front {
    position: absolute;
    box-sizing: border-box;
    width: 447px;
    height: 245px;
    background-image: url('images/bg-card-front.png');
    background-repeat: no-repeat;
    background-size: 100%;
    left: 200px;
    top: 200px;
    padding:30px;
    color:hsl(0, 0%, 100%);
}

#card-logo {
    display: block;
}

#card-number {
    display: block;
    margin-top: 60px;
    font-size: 30px;
}

#card-name-exp {
    width: 100%;
    margin-top: 15px;
}

#card-name {
    font-size: 14px;
}

#card-exp {
    font-size: 14px;
    float: right;
}

#card-back {
    position: absolute;
    width: 447px;
    height: 245px;
    background-image: url('images/bg-card-back.png');
    background-repeat: no-repeat;
    background-size: 447px 245px;
    left: 350px;
    top: 500px;
}

#card-back-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#cvc {
    position: absolute;
    right: 50px;
    top: 110px;
}

#cardholder-form {
    position: absolute;
    top: 200px;
    left: 30%;
    margin: 100px 450px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }